*{
    margin:0;
    padding: 0;
    color: black;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}
html{
    scroll-behavior: smooth;
}
    header{
        position: fixed;
        width: 100%;
        background-color: rgb(59,205,234);
        border-bottom: 0.1px solid rgb(1, 190, 228);
    }
    navbar{
        width: 90%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    navbar ul{
        display: flex;

    }
    navbar a{
        margin: 0px 30px;
        color : white;
    }
    .list-navbar a:hover{
        padding:7px 25px;
        border: 1px solid yellow;
        box-shadow: 0px 0px 2px 2px yellow;
        border-radius: 8px;
        transition: 0.3s;
    }
    .list-navbar a:focus{
        color: black;
        border: 1px solid yellow;
        box-shadow: 0px 0px 2px 2px yellow;
    }
    
    .judul .fas{
        display: none;
    }
    .judul a{
        font-size: 1.5em;
        font-family: 'Chewy', cursive;
        letter-spacing: 2px;
        color: white;
        text-shadow: 0px 0px 5px black;
    }
    .judul a:hover{
        color: yellow;
    }
    
    .hero{
        height: 100vh;
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 40%,rgb(1, 190, 228) 100%);
    }
    figure{
        text-align: center;
        opacity: 0.5;
    }
    .list-hero{
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero .gambar img{
        width: fit-content;
    }
    .list-hero .text{
        width: 40%;
    }
    .list-hero .text p{
        margin-top: 10px;
        text-align: justify;
    }
    .sosmed .fab{
        margin: 10px 10px;
        font-size: 2em;
    }
    .sosmed .fab:hover{
        color:blue;
        text-shadow: 0px 0px 1px black;
    }

    /********************************************/
    .content{
        height: 230vh;
        background: linear-gradient(520deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 35%, rgb(1, 190, 228) 100%);
    }
    .content h1{
        margin: 0px auto;
        margin-top: 60px;
        margin-bottom: 35px;
        border-bottom: 3px solid rgb(1, 190, 228);
        width: fit-content;
    }
    .content p{
        width: 70%;
        margin: 0 auto;
    }
    
    .gambar img{
        width:35vh ;
        margin: 0 auto;
    }
    .aside{
        margin: 20px auto;
        padding: 15px 15px;
        width: 50%;
        text-align: center;
        border: 2px solid rgb(1, 190, 228);
        border-radius: 15px;
    }
    aside h1{
        margin-bottom: 20px;
        color:rgb(1, 190, 228) ;
        text-decoration: underline;
    }
    article{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }
    
    .aside:hover{
        box-shadow: 0px 0px 5px 5px rgb(76,210,236);
        transition: 0.3s;
        background-color: white;
    }

    .hobby{
        margin: 0 auto;
        width: 97%;
        display: flex;
        flex-flow: wrap;
        
    }
    
    .action img{
        width: 40%;
        margin: 10px 10px;
    }
    
    .action{
        width: 47%;
        margin: 0 auto;
        border-radius: 15px;
        border: 2px solid rgb(1, 190, 228);
        margin-top: 35px;
        margin-bottom: 20px;
    }   
    .action h2{
        text-align: center;
        margin-top: 10px;
    }
    .action:hover{
        box-shadow: 0px 0px 5px 5px rgb(1, 190, 228);
        background-color: white;
        transition: 0.3s;
    }
    .list{
        display: flex;
        margin-top: 20px;
        margin-right:  15px;
    }
    .list p{
        text-align: justify;
        margin: 10px auto;
    }


    /********************************************/
    .cards{
        height: 90vh;
        background: linear-gradient(100deg, rgb(76,210,236), rgb(6,192,229));
    }
    .cards h1{
        border-bottom: 3px solid rgb(5, 150, 179);
        margin: 0 auto;
        width: fit-content;
    }
    contact  .cards .container{
        margin:0 auto;
        margin-top: 50px;
        padding-bottom: 10px;
        width: 80%;
        height: fit-content;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }
    .container .section{
        width:27% ;
        height: 50vh;
        padding: 20px 20px;
        background-color: aliceblue;
        border: 3px solid rgb(5, 150, 179);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    .section .fab, .section .fas,.section .far{
        font-size: 1.2em;
        margin-right: 10px ;
        margin-top: 40px;
    }
    
    .section h2{
        text-align: center;
        text-decoration: underline 3px rgb(1, 190, 228);
    }
    .section .img{
        text-align: center;
        margin-top: 20px;
    }
    .container .section:hover{
        transition: 0.3s;
        box-shadow: 0px 0px 10px 10px rgb(2, 138, 165) ;
    }
    
    

    /********************************************/
    footer{
        padding-top:15px ;
        padding-bottom: 15px;
        background: linear-gradient(180deg, rgb(1, 190, 228) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
        display: flex;
        align-items: center;
        border-top: 0.1px solid rgb(1, 190, 228);
    }
    .list-footer{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }